:root {
  --dark-grey: #222;
  --mid-grey: #242424;
  --mid-grey-1: #4e4e4e;
  --mid-grey-2: #515151;
  --light-grey-2: #d2d2d2;
  --light-grey: #e2e2e2;

  --black: #000;
  --white: #fff;
  --off-white: #f4f4f4;

  --blue: #003ebc;
  --light-blue: #0052f5;
}
