.NavBar {
  width: 50px;
  min-width: 50px;
  background-color: var(--dark-grey);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  z-index: 1;
}

.NavBarItem {
  color: var(--mid-grey-2);
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.NavBarItem:last-of-type {
  margin-bottom: 0;
}

.NavBarItem:hover {
  background-color: var(--mid-grey-2);
  color: var(--white);
}

.ActiveNavBarItem {
  background: var(--light-grey);
  color: var(--black);
}

.ActiveNavBarItem:hover {
  background: var(--white);
  color: var(--black);
}

.NavBarItemTooltip {
  font-size: 14px;
}
