.NotificationMenu {
  display: flex;
  height: 100%;
  align-items: center;
}

.NotificationMenuOptionBadgeWrapper {
  margin-left: 6px;
  width: 32px;
  height: 32px;
}

.NotificationMenuOptionBadgeWrapper:first-child {
  margin-left: 0;
}

.NotificationMenuOptionBadge {
  height: 16px;
  min-width: 14px;
  transform: scale(1) translate(35%, -35%);
  background-color: #F01111;
}

.NotificationMenuOption {
  background-color: var(--mid-grey);
  color: var(--white);
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 12px;
}

.NotificationMenuOption:hover {
  background-color: var(--mid-grey-1);
}
